html {
  color: #333;
  background: #fff;

  font-size:14px;
  line-height: 1.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #111;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: #333;
}

li{
  list-style-position: inside;
}

.mb_s{
  margin-bottom: 10px
}

.mb_m{
  margin-bottom: 20px
}

.mb_l{
  margin-bottom: 40px
}

background-image:url('./beijing.jpg');
